@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: pink;
 }   
 .InputBox
 {
    position: relative;
    width:250px;
    
 }
 .InputBox input
 {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1;
 }
 .InputBox span
 {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
 }
.InputBox input:valid ~ span,
.InputBox input:focus ~ span
{
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.30cm;
    padding: 0.10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    letter-spacing: 0.20;
}
.InputBox:nth-child(1) input:valid ~ span,
.InputBox:nth-child(1) input:focus ~ span
{
    background: #00dfc4;
    color: black;
}
.InputBox:nth-child(2) input:valid ~ span,
.InputBox:nth-child(2) input:focus ~ span
{
    background: #00dfc4;
    color: black;
}
.InputBox:nth-child(3) input:valid ~ span,
.InputBox:nth-child(3) input:focus ~ span
{
    background: #00dfc4;
    color: black;
}


.InputBox input:valid, 
.InputBox input:focus 
{
    border: 1px solid black;
}

.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #00dfc4;
    margin: 0.4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration:  calc(150s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: pink;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px pink,
    0 0 100px pink;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
.form
{
    transform: translate(50%,50%);
 
 
}
